<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock-Paper-Scissors</title>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>
    <nav>
      <a href="/welcome">Welcome</a>
      <p></p>
    </nav>
    <%= yield %>
  </body>
</html>
