<h1>Welcome to Rock-Paper-Scissors!</h1>
<p> This is an easy game to play. You guess one of 'rock', 'paper' or 'scissors' and your opponent does the same. Rules:</p>
<ol>
<li>'rock' beats 'scissors'</li>
<li>'scissors' beat 'paper'</li>
<li>'paper' beats 'rock'</li>
</ol>
